<div class="change-pass">
    <%- include('partials/header')%>
<!--  -->
<%- include('partials/nav')%>
<form class="m-auto w-25 mt-5" action="/changepassword/<%= id%>" method="post">
    <h1 class="mb-4">Change password</h1>
    <input
        class="form-control mb-3"
        type="password"
        placeholder="New password"
        name="password"
    />

    <button class="btn btn-primary mb-3">Change password</button>



</form>

    

</div>