<div class="overlay"></div>
<div class="page1">
  <%- include('partials/header')%>
  <%- include('partials/nav')%>
  

  <h2> <span>STONE</span> GALAXY FITNESS</h2>
  <p>Ready to change your physique, but can't workout in the gym?</p>
<button>GET A FREE PASS</button>

<%- include('partials/footer.ejs')%>

</div>

<div class="page2">
  <div class="aboutpic"></div>
  <div class="about">
    <h1>01 <span> STONE GALAXY</span> <br> ABOUT US</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quos nobis, <br> saepe obcaecati inventore tempore iste recusandae illum officia a.</p>

    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias unde dicta obcaecati fuga excepturi omnis eligendi sequi illum esse praesentium. Nulla doloremque rem ipsa aspernatur perferendis, assumenda eveniet cum unde cumque at iusto sequi eos reiciendis dignissimos et officia recusandae.</h3>

    <h2><button>READ MORE</button></h2>

  </div>
</div>
 
