<div class="overlay"></div>
<div class="page1">
  <%- include('partials/header')%>
  <%- include('partials/nav')%>
  

  <h2> <span>STONE</span> GALAXY FITNESS</h2>
  <p>Ready to change your physique, but can't workout in the gym?</p>
<button>MAKE AN ENQUIRY</button>

<%- include('partials/footer.ejs')%>

</div>

<div class="page2">
  <div class="aboutpic"></div>
  <div class="about">
    <h1>01 <span> STONE GALAXY</span> <br> ABOUT US</h1>
    <p style="font-size: 2vmax; font-weight: 800;">3+ Years Of Warm Welcome...</p>
    <p>Stone Galaxy Fitness is importer and distributor of commercial grade and home use fitness
      equipment and runs Stone Galaxy Fitness gym franchise across INDIA.</p>

    <h3>Stone Galaxy Fitness provides all required basic amenities to their clients. <br> Stone Galaxy Fitness Centre open throughout the day from 6 AM – 11 PM and even open on Sundays. <br> There is no holiday policy even on major festivals which allows client to workout throughout the year..</h3>

    <h2><button>READ MORE</button></h2>

  </div>
</div>

<div class="page3">
  <h1 style="font-size: 2vmax; font-weight: 800;">Amenities</h1>
  <p style="font-size: 1vmax;">Providing Best Amenities the Correct Way</p>
</div>

<div class="page4">
  <div class="facilities">
    <h1>Air conditioned <br> gym</h1>
    <h1> Locker & CCTV <br> facility</h1>
    <h1> Spacious <br> Environment</h1>
    <h1> Steam Bath & <br> Washroom</h1>
    <h1> Male & female <br> Changing Room</h1>
    <h1>Canteen & <br> juice corner</h1>
    <h1>Fingerprint Entry <br> System</h1>
    <h1>Cardio & <br> strength training</h1>
  </div>
  <div class="work-cards">
    <div class="cards">
      <!-- <h1>Cardio and <br> strength training</h1> -->
      <img src="https://images.unsplash.com/photo-1581122584612-713f89daa8eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80" alt="">
    </div>

    <div class="cards">
      <img src="https://images.unsplash.com/photo-1545389336-cf090694435e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" alt="">
    </div>

    <div class="cards">
      <img src="https://images.unsplash.com/photo-1527933053326-89d1746b76b9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
    </div>

    <div class="cards">
      <img src="https://images.unsplash.com/photo-1553483181-bdc1c7bd00b9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" alt="">
    </div>

    <div class="cards">
      <img src="https://images.unsplash.com/photo-1545346315-f4c47e3e1b55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" alt="">
    </div>
    
  </div>
</div>
 
