<div class="signup-page">
    <%- include('partials/header')%>
    <%- include('partials/nav')%>
    
    <div class="forms">
        <form class="m-auto w-30 mt-5" action="/signup" method="post">
    
        <h1 class="text-center text-white">Sign-Up</h1>
        
        <input class="form-control mt-4" type="text" placeholder="enter username" name="username" >
        
        <input class="form-control mt-4" type="email" placeholder="example@username.com" name="email">
            
            <input class="form-control mt-3" type="password" placeholder="***********" name="password">
        
            <button class="btn btn-danger w-30 mt-4">Sign Up</button>
            
            <p class="text-white mt-2">Already have an account ? <a class="text-white" href="/signin">signin</a></p>
        </form>

    </div>

    <%- include('partials/footer.ejs')%>
    
</div>