<div class="signin-page">
    <%- include('partials/header')%>
<%- include('partials/nav')%>

<div class="sign-in-form">
    <form class="m-auto w-25 mt-5 text-center text-white" action="/signin" method="post">

        <h1>Sign-In</h1>
            <input class="form-control mt-4" type="text" placeholder="enter username" name="username">

            <input class="form-control mt-4" type="password" placeholder="***********" name="password">

            <p class="text-end">
                <a class="text-white" href="/getemail">Forget Password ?</a>
            </p>

            <button class="btn btn-danger w-25">Sign In</button>

            <p class="text-white mt-2">Dont't have an account ? <a class="text-white" href="/signup">signup</a></p>
        </form>
    
</div>



<%- include('partials/footer.ejs')%>
</div>

